<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Jardain</title>

  <!-- slider stylesheet -->
<!--   <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />
 -->
  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="css/fontello.css" />

  <!-- fonts style -->
<!--   <link href="https://fonts.googleapis.com/css?family=Poppins|Raleway:400,600|Righteous&display=swap"
    rel="stylesheet" /> -->
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
      <!-- header section strats -->
      <header class="header_section">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="/">
              <span>
                Jardain
              </span>
            </a>

            <div class="navbar-collapse" id="">

              <div class="custom_menu-btn">
                <button onclick="openNav()">
                  <span class="s-1"> </span>
                  <span class="s-2"> </span>
                  <span class="s-3"> </span>
                </button>
              </div>
              <div id="myNav" class="overlay">
                <div class="overlay-content">
                  <a href="/">Home</a>
                  <a href="/services">Our Services</a>
                  <a href="/about">About & Clints</a>
                  <a href="/contact">Contact Us</a>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->
  </div>

    <!-- About details section -->
    <center>
      <div class="about_us_tetails">
        <div>
          <br>
          <h2>ABOUT US</h2>
        </div>
        <div>
          <p class="about_us_text left_border">
            A multi-activity company working in the field of catering, and Purchases services with more than 15 years of experience, Jardain working with the largest companies and the institutions in the country.
          </p>
        </div>
      </div>
    </center>
    <!-- End of about section -->


    <!-- Missions and visions section -->

    <section class="about_section layout_padding">

      <div class="container">
        <div class="about_card-container layout_padding2-top">
          <div class="about_card">
            <div class="about-detail">
              <div class="about_img-container">
                <div class="about_img-box">
                  <img src="icons/mission.png" alt="" />
                </div>
              </div>
              <div class="card_detail-ox">
                <h4>
                  Mission
                </h4>
                <p>
                  To ensure the highest level of customer satisfaction through providing professional services and quality products with competitve fair market prices
                </p>
              </div>
            </div>
          </div>
          <div class="about_card">
            <div class="about-detail">
              <div class="about_img-container">
                <div class="about_img-box">
                  <img src="icons/vision.png" alt="" />
                </div>
              </div>
              <div class="card_detail-ox">
                <h4>
                  Vision
                </h4>
                <p>
                  To help companies and organizations achiveve their full potential, and Focus on being creative in what they do, and let us do the work that they need.
                </p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </section>

    <!-- end Missions and visions section -->

    <!-- Clients section -->
    <center>
      <div class="">
        <br>
        <div>
            <h2>OUR CLIENTS</h2>
        </div>
        <div>
          <p style="font-size: 20px; font-weight: bold; margin-bottom: 0px;">
            Some of the compenies that we worked with
          </p>
        </div>
        <br>
        <div>
          <div>
            <div class="clients_logos_container">
              <img src="/icons/client1.jpg">
              <img src="/icons/client2.jpg">
              <img src="/icons/client3.jpg">
            </div>

          </div>
        </div>
      </div>
    </center>
    <!-- End of clients section -->


  <!-- footer section -->
  <br><br>
    <section class="info_section layout_padding">
      <div class="container ">
        <div>
          <div class="row">
            <div class="col-md-4">
              <div class="d-flex">
                <h5>
                  Jardain
                </h5>
              </div>
              <div class="d-flex ">
                <ul>
                  <li>
                    <a href="/">
                      Home
                    </a>
                  </li>
                  <li>
                    <a href="/about">
                      About & Clients
                    </a>
                  </li>
                  <li>
                    <a href="/services">
                      Our services
                    </a>
                  </li>
                  <li>
                    <a href="/contact">
                      Contact us
                    </a>
                  </li>
                </ul>

              </div>
            </div>
            
            <div class="col-md-4">
              <div class="d-flex">
                <h5>
                  Contact Us
                </h5>
              </div>
              <div class="d-flex ">
                <ul>
                  <li>
                    <a class="icon-mail-1" style="color: white">
                       Email
                    </a>
                  </li>
                  <li>
                    <a class="icon-phone" style="color: white">
                      Phone
                    </a>
                  </li>
                  <li>
                    <a class="icon-phone" style="color: white">
                      Phone
                    </a>
                  </li>
                  <li>
                    <a  class="icon-location-1" style="color: white">
                      Address
                    </a>
                  </li>
                </ul>
                <ul class="ml-3 ml-md-5">
                  <li>
                    <a style="color: white">
                      info@jardain.net
                    </a>
                  </li>
                  <li>
                    <a href="">
                      0123066957
                    </a>
                  </li>
                  <li>
                    <a href="">
                      0912313027
                    </a>
                  </li>
                  <li>
                    <a href="">
                      Khartoum/Buri
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <!-- Logo goes -->
              <h1 style="text-align: center; color: white; width: 100%; padding-top: 15%; display: block;">Jardain</h1>
            </div>
          </div>
        </div>
        <div
          class="d-flex flex-column flex-lg-row justify-content-between align-items-center align-items-lg-baseline"
        >
        </div>
      </div>
    </section>
  <!-- footer section -->

  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>

  <script>
    function openNav() {
      document.getElementById("myNav").classList.toggle("menu_width");
      document
        .querySelector(".custom_menu-btn")
        .classList.toggle("menu_btn-style");
    }
  </script>
</body>

</html>